[Unit]
Description=Miflora-prom
StartLimitIntervalSec=400
After=network.target

[Service]
Type=simple
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN
NoNewPrivileges=true
User=miflora
ExecStart=/usr/bin/miflora-prom
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
