#!/usr/bin/make -f

SOURCE_VERSION  := $(shell dpkg-parsechangelog --show-field version | sed  's/-[0-9]cncz[0-9][0-9]*//')
SOURCE          := https://github.com/miekg/miflora-prom/archive/refs/tags/v$(SOURCE_VERSION).tar.gz
BINARIES        := miflora-prom
DOWNLOAD        := $(shell basename $(SOURCE) )

%:
	dh $@ --with sysuser

override_dh_auto_configure:
	dh_clean
	if [ ! -f $(DOWNLOAD) ]; then curl -L $(SOURCE) > $(DOWNLOAD); fi
	rm -rf pkg; mkdir pkg
	tar xf $(DOWNLOAD) -C pkg --strip-components 1
	for i in $(BINARIES); do ( cd pkg; CGO_ENABLED=0 go build ); cp pkg/$$i .; done

override_dh_strip:

override_dh_auto_clean:
	for i in $(BINARIES); do rm -rf debian/$$i/usr/bin; done

override_dh_auto_install:
	for i in $(BINARIES); do mkdir -p debian/`basename $$i`/usr/bin; done
	for i in $(BINARIES); do cp `basename $$i` debian/`basename $$i`/usr/bin; done
	mkdir -p debian/miflora-prom/etc/
	cp debian/miflora debian/miflora-prom/etc/miflora
